
{{ui-dropdown
    content=hours
    value=timeSearch
    prompt=currentHour
}}
{{ui-dropdown
    content=timeOfDay
    value=timeOfDaySearch
    prompt=currentTimeOfDay
}}

{{ui-dropdown
    content=days
    value=daySearch
    prompt=currentDay
}}
<button {{action "truckSearch"}}>Search</button>

{{#each truck in trucks}}
  <p>
    <h4><a target="_blank" {{bind-attr href=truck.link}}>{{truck.name}}</a></h4>
    {{truck.description}}
    <br>
    {{truck.startTime}} - {{truck.endTime}}
  </p>
{{/each}}
